.BottomNavBar {
  height: 10vh;
  position: fixed;
  width: 400px;
  bottom: 0;
  background: #c1bab9;
  color: #452725;
}

.MenuItem {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.row {
  height: 100%;
  width: 100%;
  margin: auto;
}

.selected {
  background-color: #A89D9B;
}
