.App {
  text-align: center;
  background-color: #FAF8F2;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0px 20px #00000044;
  position: relative;
}

.App-logo{
  width: 50px;
  height: 50px;
  margin:auto;
  background: url("../src/assets/img_logo_original.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Navbar{
  background: transparent !important;
  position: absolute;
  width: 100%;
}

.Navbar .navbar{
  padding: 0 10px;
}

.Post{
  height: 100%;
}

.Posts{
  overflow-y: scroll;
  height: 90%;
  scroll-snap-align: start;
}

.postImage{
  height: 90vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../src/assets/post.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.postDetails{
  position: relative;
  bottom: 220px;
}
