.App {
  text-align: center;
  background-color: #FAF8F2;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0px 20px #00000044;
  position: relative;
}

.App-logo{
  width: 50px;
  height: 50px;
  margin:auto;
  background: url("../src/assets/img_logo_original.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Navbar{
  background: transparent !important;
  position: absolute;
  width: 100%;
}

.Navbar .navbar{
  padding: 0 10px;
}

.postImage{
  height: 100vh;
  background:url("../src/assets/post.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomGradient{
  position: absolute;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
}
